
body {
    background: #a6b5c1;
}

.container {
    background: #748c9f;
}

#header {
    padding: 1em;
    background: #748c9f;
    color: white;
}

#familyImage {
    background-color:#a6b5c1;
}

#officeHours {
    padding-left:1em;
}

#googleMapsIFrame {
    border:0;
    height:20em;
}

.physicianImage {
    width:10em;
}